[% USE raw %]
[% USE Koha %]
[% USE Branches %]
[% USE AdditionalContents %]
[% PROCESS 'i18n.inc' %]
[% INCLUDE 'doc-head-open.inc' %]
<title
    >[% FILTER collapse %]
 [% t("Reports") | html %]
 &rsaquo; [% t("Koha") | html %]
 [% END %]</title
>
[% INCLUDE 'doc-head-close.inc' %]
</head>
<body id="rep_reports-home" class="rep">
[% WRAPPER 'header.inc' %]
 [% INCLUDE 'circ-search.inc' %]
[% END %]

[% WRAPPER 'sub-header.inc' %]
 [% WRAPPER breadcrumbs %]
 [% WRAPPER breadcrumb_item bc_active= 1 %]
 <span>Báo cáo</span>
 [% END %]
 [% END #/ WRAPPER breadcrumbs %]
[% END #/ WRAPPER sub-header.inc %]

<div class="main container-fluid">
 <div class="row">
 <div class="col-12">
 [% INCLUDE 'messages.inc' %]
 <h1 class="h2 mb-3" style="font-weight: 700; color: #1e293b;">Báo cáo</h1>

 [% WRAPPER tabs id= "reports_tabs" %]
  [% WRAPPER tabs_nav %]
   [% WRAPPER tab_item tabname= "predefined" bt_active= (active_tab == 'predefined' || !active_tab) %]
    <i class="fa fa-star text-warning"></i> <span>Báo cáo có sẵn</span>
   [% END %]
   [% WRAPPER tab_item tabname= "standard" bt_active= (active_tab == 'standard') %]
    <i class="fa fa-cogs text-secondary"></i> <span>Báo cáo chuẩn Koha & SQL</span>
   [% END %]
  [% END # /WRAPPER tabs_nav %]

  [% WRAPPER tab_panels %]
   [% WRAPPER tab_panel tabname="predefined" bt_active= (active_tab == 'predefined' || !active_tab) %]
    [% PROCESS 'reports-predefined-body.inc' %]
   [% END %]

   [% WRAPPER tab_panel tabname="standard" bt_active= (active_tab == 'standard') %]
    <div class="row pt-3">
     <div class="col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <div class="row">
       <div class="col-6">
        [% IF ( CAN_user_reports_execute_reports || CAN_user_reports_create_reports || CAN_user_reports_delete_own_reports || CAN_user_reports_delete_all_reports ) %]
        <fieldset class="brief">
         <h2>Hướng dẫn tạo báo cáo</h2>
         [% IF ( CAN_user_reports_create_reports ) %]
         <p>
         <a href="/cgi-bin/koha/reports/guided_reports.pl?op=add_form"><i class="fa-solid fa-code-branch"></i> Create guided report</a>
         </p>
         <p>
         <a href="/cgi-bin/koha/reports/guided_reports.pl?op=add_form_sql"><i class="fa fa-plus"></i> Tạo báo cáo từ SQL</a>
         </p>
         [% END %]
         <p>
         <a href="/cgi-bin/koha/reports/guided_reports.pl?op=list"><i class="fa fa-list"></i> View saved</a>
         </p>
         <form action="/cgi-bin/koha/reports/guided_reports.pl" method="get">
         <input name="op" value="list" type="hidden" />
         <input name="filter_set" value="1" type="hidden" />
         <label for="filter_keyword">Search by keyword:</label>
         <input id="filter_keyword" name="filter_keyword" value="" size="16" type="text" />
         <input class="btn btn-primary" type="submit" value="Tìm kiếm" />
         </form>
        </fieldset>
        [% END %]

        <div class="rep_dictionary">
         <h2>Từ điển báo cáo</h2>
         <ul>
         <li><a href="/cgi-bin/koha/reports/dictionary.pl">Xem từ điển</a></li>
         </ul>
        </div>

        <div class="rep_wizards">
         <h2>Báo cáo phân hệ</h2>
         <ul>
         <li><a href="/cgi-bin/koha/reports/acquisitions_stats.pl">Phân hệ bổ sung</a></li>
         <li><a href="/cgi-bin/koha/reports/borrowers_stats.pl">Bạn đọc</a></li>
         <li><a href="/cgi-bin/koha/reports/catalogue_stats.pl">Mục tra cứu</a></li>
         <li><a href="/cgi-bin/koha/reports/issues_stats.pl">Phân hệ lưu thông</a></li>
         <li><a href="/cgi-bin/koha/reports/serials_stats.pl">Ấn phẩm định kỳ</a></li>
         <li><a href="/cgi-bin/koha/reports/cash_register_stats.pl">Cash register</a></li>
         <li><a href="/cgi-bin/koha/reports/reserves_stats.pl">Đặt mượn</a></li>
         </ul>
        </div>

        [% IF ( plugins_enabled && CAN_user_plugins_report ) %]
        <div class="rep_plugins">
         <h2>Report plugins</h2>
         <ul>
         <li><a href="/cgi-bin/koha/plugins/plugins-home.pl?method=report">Report plugins</a></li>
         </ul>
        </div>
        [% END %]
       </div>

       <div class="col-sm-12 col-md-6">
        <div class="rep_top">
         <h2>Lưu thông nhiều nhất</h2>
         <ul>
         <li><a href="/cgi-bin/koha/reports/bor_issues_top.pl">Bạn đọc ghi mượn nhiều nhất</a></li>
         <li><a href="/cgi-bin/koha/reports/cat_issues_top.pl">Tài liệu lưu thông nhiều nhất</a></li>
         </ul>
        </div>

        <div class="rep_inactive">
         <h2>Dừng hoạt động</h2>
         <ul>
         <li><a href="/cgi-bin/koha/reports/borrowers_out.pl">Bạn đọc không ghi mượn</a></li>
         <li><a href="/cgi-bin/koha/reports/catalogue_out.pl">Tài liệu không lưu thông</a></li>
         </ul>
        </div>

        <div class="rep_other">
         <h2>Báo cáo khác</h2>
         <ul>
         <li><a href="/cgi-bin/koha/reports/itemslost.pl">Tài liệu bị mất</a></li>
         <li><a href="/cgi-bin/koha/reports/orders_by_fund.pl">Orders by fund</a></li>
         <li><a href="/cgi-bin/koha/reports/catalog_by_itemtype.pl">Số bản tài liệu</a></li>
         <li><a href="/cgi-bin/koha/reports/issues_avg_stats.pl">Thời gian ghi mượn trung bình</a></li>
         [% SET koha_version = Koha.Version %]
         [% IF koha_version.development %]
         <li><a href="https://schema.koha-community.org/main" target="blank">Sơ đồ dữ liệu Koha</a></li>
         [% ELSE %]
         <li><a href="https://schema.koha-community.org/[% koha_version.major | uri %]_[% koha_version.minor | uri %]" target="blank">Sơ đồ dữ liệu Koha</a></li>
         [% END %]
         <li><a href="https://wiki.koha-community.org/wiki/SQL_Reports_Library" target="blank">Báo cáo mẫu Koha</a></li>
         </ul>
        </div>

        [% IF ( Koha.Preference('Mana') == 2 ) %]
        <div class="alert alert-info" style="margin:15px 0 0 0" ;>
         <strong>Knowledgebase</strong>
         <p> You haven't decided if you want to activate Mana Knowledge Base. <a href="/cgi-bin/koha/admin/share_content.pl">Change your Mana KB settings</a>.</p>
        </div>
        [% END %]
       </div>
      </div>
      <!-- /.row -->

      [% SET StaffReportsHome = AdditionalContents.get( location => "StaffReportsHome", lang => lang, library => Branches.GetLoggedInBranchcode || default_branch ) %]
      [% IF ( StaffReportsHome.content && StaffReportsHome.content.count > 0 ) %]
      <div class="row">
       <div class="col-sm-12">
        <div id="[% StaffReportsHome.location | html %]">
        [% FOREACH n IN StaffReportsHome.content %]
        <div class="[% n.lang | html %]_item">
        <div class="[% n.lang | html %]_body">[% n.content | $raw %]</div>
        </div>
        [% END %]
        </div>
       </div>
      </div>
      [% END # /IF StaffReportsHome %]
     </div>
    </div>
   [% END %]
  [% END # /WRAPPER tab_panels %]
 [% END # /WRAPPER tabs %]

 </div>
 </div>
</div>
[% INCLUDE 'intranet-bottom.inc' %]
