[% USE raw %]
[% USE Koha %]
[% USE Asset %]
[% PROCESS 'i18n.inc' %]
[% SET footerjs = 1 %]
[% BLOCK translate_label_element %]
    [%- SWITCH element -%]

    [%- CASE 'layout' -%]
        bố cục nhãn
    [%- CASE 'Layouts' -%]
        Bố cục nhãn (Layouts)
    [%- CASE 'template' -%]
        mẫu phôi nhãn
    [%- CASE 'Templates' -%]
        Mẫu phôi nhãn (Templates)
    [%- CASE 'profile' -%]
        cấu hình máy in
    [%- CASE 'Profiles' -%]
        Cấu hình máy in (Profiles)
    [%- CASE 'batch' -%]
        lô nhãn in
    [%- CASE 'Batches' -%]
        Lô nhãn in (Batches)
    [%- END -%]
[% END %]
[% INCLUDE 'doc-head-open.inc' %]
<title
    >[% FILTER collapse %]
        [% PROCESS translate_label_element element=label_element_title %]
        &rsaquo; Tạo nhãn gáy &amp; mã vạch &rsaquo; Biên mục &rsaquo; Koha
    [% END %]</title
>
[% INCLUDE 'doc-head-close.inc' %]
</head>

<body id="labels_label-manage" class="tools labels">
[% WRAPPER 'header.inc' %]
    [% INCLUDE 'cat-search.inc' %]
[% END %]

[% WRAPPER 'sub-header.inc' %]
    [% WRAPPER breadcrumbs %]
        [% WRAPPER breadcrumb_item %]
            <a href="/cgi-bin/koha/cataloguing/cataloging-home.pl">Biên mục</a>
        [% END %]
        [% WRAPPER breadcrumb_item %]
            <a href="/cgi-bin/koha/labels/label-home.pl">Tạo nhãn gáy &amp; mã vạch</a>
        [% END %]
        [% WRAPPER breadcrumb_item bc_active= 1 %]
            [% PROCESS translate_label_element element=label_element_title %]
        [% END %]
    [% END #/ WRAPPER breadcrumbs %]
[% END #/ WRAPPER sub-header.inc %]

[% WRAPPER 'main-container.inc' aside='labels-menu' %]

    [% INCLUDE 'labels-toolbar.inc' %]
    <h2 class="ftu-clean-title"><i class="fa fa-tags"></i> [% PROCESS translate_label_element element=label_element_title %]</h2>

    [% IF ( error ) %]
        <div class="alert alert-warning">
            <strong>CẢNH BÁO:</strong> Đã xảy ra lỗi và thao tác [% op | html %] đối với [% label_element | html %] [% element_id | html %] không thể hoàn tất. Vui lòng liên hệ quản trị hệ thống để kiểm tra nhật ký lỗi.
        </div>
    [% END %]

    <div id="manage-label-layouts" class="page-section">
        [% IF ( table_loop ) %]
            <form method="get" name="layouts" action="/cgi-bin/koha/label-manage.pl?label_element=[% label_element | html %]">
                <div class="page-section">
                    <table id="labels-table" class="table table-bordered table-striped">
                        [% FOREACH table_loo IN table_loop %]
                            [% IF ( table_loo.header_fields ) %]
                                <thead>
                                    <tr>
                                        [% FOREACH header_field IN table_loo.header_fields %]
                                            [% SWITCH header_field.field_label %]
                                            [% CASE 'Layout ID' %]
                                                <th>Mã bố cục</th>
                                            [% CASE 'Layout' %]
                                                <th>Tên bố cục</th>
                                            [% CASE 'Barcode Type' %]
                                                <th>Loại mã vạch</th>
                                            [% CASE 'Print Type' %]
                                                <th>Kiểu in</th>
                                            [% CASE 'Template ID' %]
                                                <th>Mã phôi nhãn</th>
                                            [% CASE 'Template Name' %]
                                                <th>Tên phôi nhãn</th>
                                            [% CASE 'Description' %]
                                                <th>Mô tả</th>
                                            [% CASE 'Actions' %]
                                                <th class="no-export no-sort">Thao tác</th>
                                            [% CASE 'Profile ID' %]
                                                <th>Mã cấu hình</th>
                                            [% CASE 'Printer Name' %]
                                                <th>Tên máy in</th>
                                            [% CASE 'Paper Bin' %]
                                                <th>Khay giấy</th>
                                            [% CASE 'Batch ID' %]
                                                <th>Mã lô nhãn</th>
                                            [% CASE 'Item Count' %]
                                                <th>Số tài liệu</th>
                                            [% CASE 'Fields to Print' %]
                                                <th>Các trường in</th>
                                            [% CASE %]
                                                <th>[% header_field.field_label | html %]</th>
                                            [% END %]
                                        [% END %]
                                    </tr>
                                </thead>
                            [% ELSE %]
                                <tr>
                                    [% FOREACH text_field IN table_loo.text_fields %]
                                        [% IF ( text_field.select_field ) %]
                                            <td class="actions">
                                                <a class="btn btn-default btn-xs" href="/cgi-bin/koha/labels/label-edit-[% label_element |url %].pl?op=edit_form&amp;element_id=[% text_field.field_value |url %]"
                                                    ><i class="fa-solid fa-pencil" aria-hidden="true"></i> Sửa</a
                                                >

                                                <a
                                                    class="btn btn-default btn-xs submit-form-link"
                                                    href="#"
                                                    data-label_element="[% label_element | html %]"
                                                    data-element_id="[% text_field.field_value | html %]"
                                                    data-action="label-manage.pl"
                                                    data-method="post"
                                                    data-op="cud-delete"
                                                    data-confirmation-msg="Bạn có chắc chắn muốn xóa mục này không?"
                                                    ><i class="fa fa-trash-can"></i> Xóa</a
                                                >
                                            </td>
                                            [% IF label_element == 'batch' %]<td><input type="checkbox" name="action" value="[% text_field.field_value | html %]" /></td>[% END %]
                                        [% ELSIF ( text_field.field_value ) %]
                                            <td>[% text_field.field_value | html %]</td>
                                        [% ELSE %]
                                            <td>&nbsp;</td>
                                        [% END %]
                                    [% END %]
                                </tr>
                            [% END %]
                        [% END %]
                    </table>
                </div>
                <!-- /.page-section -->
                [% IF ( print ) %]<button type="button" class="btn btn-primary" id="print"><i class="fa fa-print"></i> Xuất in các lô đã chọn</button>[% END %]
            </form>
        [% ELSE %]
            <div class="alert alert-info">
                <h4><i class="fa fa-info-circle"></i> Hiện tại chưa có [% PROCESS translate_label_element element=label_element_title %] nào trong hệ thống.</h4>
                <p>Sử dụng nút "Thêm mới" trên thanh công cụ phía trên để tạo một [% PROCESS translate_label_element element=label_element %] mới.</p></div
            >
        [% END %]
    </div>
[% END %]

[% MACRO jsinclude BLOCK %]
    [% INCLUDE 'datatables.inc' %]
    <script nonce="[% Koha.CSPNonce | $raw %]">
        function Xport() {
            batches = new Array();
            if (document.layouts.action.length > 0) {
                for (var i = 0; i < document.layouts.action.length; i++) {
                    if (document.layouts.action[i].checked) {
                        batches.push("batch_id=" + document.layouts.action[i].value);
                    }
                }
                if (batches.length < 1) {
                    alert(_("Vui lòng chọn ít nhất một lô nhãn để xuất in."));
                    return; // no batch selected
                }
                getstr = batches.join("&");
            } else if (document.layouts.action.checked) {
                getstr = "batch_id=" + document.layouts.action.value;
            } else {
                alert(_("Vui lòng chọn ít nhất một lô nhãn để xuất in."));
                return; // no batch selected
            }
            location.href = "/cgi-bin/koha/labels/label-print.pl?" + getstr;
        }

        $(document).ready(function () {
            $('.sidebar_menu a[href$="/cgi-bin/koha/labels/label-home.pl"]').addClass("current");
            $("#print").click(function (e) {
                e.preventDefault();
                Xport();
            });
            $(".delete").on("click", function () {
                return confirmDelete(_("Bạn có chắc chắn muốn xóa mục này không?"));
            });
            $("#labels-table").kohaTable({
                dom: '<"dt-info"i><"top pager"<"table_entries"lp><"table_controls"f>>tr<"bottom pager"ip>',
                pagingType: "full",
                order: [[1, "asc"]],
            });
        });
    </script>
[% END %]

[% INCLUDE 'intranet-bottom.inc' %]
