[%# First line will be summary, second line will be description. Avoid indenting. Var newline added to avoid translating problems. -%] [%- newline="\n" | html -%] [%- IF overdue == 1 -%] [% title | html %] đã quá hạn [%- newline | html -%]Bản tài liệu [% title | html %] (mã vạch [% barcode | html %]) của bạn đã quá hạn [%- ELSE -%] [% title | html %] đến hạn [%- newline | html -%]Bản tài liệu [% title | html %] (mã vạch [% barcode | html %]) của bạn đến hạn trả lại thư viện hôm nay [%- END -%] 