[% USE raw %]
[% USE Koha %]
[% USE Categories %]
[% USE AdditionalContents %]
[% PROCESS 'i18n.inc' %]
[% PROCESS 'html_helpers.inc' %]
[% INCLUDE 'doc-head-open.inc' %]
<title
    >[% FILTER collapse %]
 [% t("Reset your password") | html %]
 &rsaquo; [% PROCESS 'library_name_title' %]
 [% END %]</title
>
[% INCLUDE 'doc-head-close.inc' %]
[% BLOCK cssinclude %]
[% END %]
</head>
[% INCLUDE 'bodytag.inc' bodyid='opac-login-page' bodyclass='scrollto' %]
[% INCLUDE 'masthead.inc' %]

<main class="main">
 [% WRAPPER breadcrumbs %]
 [% WRAPPER breadcrumb_item bc_active= 1 %]
 <span>Đặt lại mật khẩu của bạn</span>
 [% END %]
 [% END #/ WRAPPER breadcrumbs %]

 <div class="container-fluid">
 <div class="row justify-content-center">
 <div class="col-md-10 col-lg-6">
 <div id="opac-auth" class="maincontent">
 [% IF Koha.Preference( 'opacuserlogin' ) && Koha.Preference('EnableExpiredPasswordReset') %]
 [% IF ( error ) %]
 <div class="alert alert-warning">
 <h2>Đã xảy ra lỗi với yêu cầu đã gửi của bạn</h2>
 <p>
 [% SWITCH error %]
 [% CASE  'no_change' %]
 <span>Mật khẩu mới không được trùng với mật khẩu cũ.</span>
 [% CASE  'passwords_mismatch' %]
 <span>Mật khẩu không trùng khớp. Vui lòng nhập lại mật khẩu mới.</span>
 [% CASE 'password_too_short' %]
 <span>Mật khẩu phải có độ dài ít nhất [% minPasswordLength | html %] ký tự.</span>
 [% CASE 'password_too_weak' %]
 <span>Mật khẩu phải chứa ít nhất một chữ số, một ký tự thường và một ký tự viết hoa.</span>
 [% CASE 'password_has_whitespaces' %]
 <span>Mật khẩu không được chứa khoảng trắng ở đầu hoặc cuối.</span>
 [% CASE 'invalid_credentials' %]
 <span
                                            >You entered an incorrect username or password. Please try again! But note that passwords are case
 sensitive[% IF Koha.Preference('FailedLoginAttempts') %]and that your account will be locked out after a fixed number of failed login attempts[% END %]. Please contact a library staff member if
 you continue to have problems.</span
                                        >
 [% CASE 'no_expire' %]
 <span>Vui lòng đăng nhập vào tài khoản để cập nhật mật khẩu.</span><br />
 <a href="/cgi-bin/koha/opac-user.pl" class="nav-link login-link loginModal-trigger"
                                            ><i class="fa fa-user fa-icon-black fa-fw" aria-hidden="true"></i> <span class="userlabel">Đăng nhập vào tài khoản của bạn</span></a
                                        >. [% CASE 'account_locked' %] Tài khoản này đã bị khóa! [% IF Categories.can_any_reset_password && Koha.Preference('OpacBaseURL') %] <a href="[% Koha.Preference('OpacBaseURL') | url %]/cgi-bin/koha/opac-password-recovery.pl">Bạn phải đặt lại mật khẩu qua email</a>.
 [% ELSE %]
 <span>Bạn phải liên hệ với thư viện để được hỗ trợ.</span>
 [% END %]
 [% CASE %]
 <span>Đã xảy ra lỗi không xác định. Vui lòng thử lại hoặc liên hệ với thư viện để được hỗ trợ.</span>
 [% END %]
 </p>
 </div>
 [% END %]
 [% IF ( password_updated ) %]
 <div class="alert dialog-alert">
 <h2>Mật khẩu của bạn đã được cập nhật thành công</h2>
 <a href="/cgi-bin/koha/opac-main.pl" class="btn btn-primary">Đi đến OPAC</a>
 [% IF ( Koha.Preference('staffClientBaseURL') && staff_access ) %]
 <a href="[% Koha.Preference('staffClientBaseURL') | url %]" class="btn btn-primary">Đi đến giao diện nhân viên</a>
 [% END %]
 </div>
 [% ELSE %]
 <form action="/cgi-bin/koha/opac-reset-password.pl" name="mainform" id="mainform" method="post" autocomplete="off">
 [% INCLUDE 'csrf-token.inc' %]
 <legend class="visually-hidden">Đặt lại mật khẩu của bạn</legend>

 <fieldset class="brief">
 <div class="form-group">
 [% PROCESS login_label for="userid" %]
 <input class="form-control" autocomplete="off" type="text" size="25" id="userid" name="userid" />
 </div>
 <div class="form-group">
 <label for="currentpassword">Mật khẩu hiện tại:</label>
 <input class="form-control" autocomplete="current-password" type="password" size="25" id="currentpassword" name="currentpassword" />
 </div>
 <div class="form-group">
 <label for="newpassword">Mật khẩu mới:</label>
 <input class="form-control" autocomplete="new-password" type="password" size="25" id="newpassword" name="newpassword" />
 </div>
 <div class="form-group">
 <label for="confirmpassword">Xác nhận mật khẩu mới:</label>
 <input class="form-control" autocomplete="new-password" type="password" size="25" id="confirmpassword" name="confirmpassword" />
 </div>
 <fieldset class="action">
 <input class="btn btn-primary" type="submit" value="Cập nhật mật khẩu" />
 </fieldset>
 <input type="hidden" name="op" value="cud-update" />
 </fieldset>
 [% IF Koha.Preference('OpacResetPassword') && Categories.can_any_reset_password %]
 <div id="resetpassword">
 <a href="/cgi-bin/koha/opac-password-recovery.pl">Quên mật khẩu?</a>
 </div>
 [% END %]
 </form>
 [% END # /IF Error_messages %]
 [% ELSE %]
 <h1>Tính năng đặt lại mật khẩu chưa được thư viện kích hoạt.</h1>
 [% IF Koha.Preference('OpacResetPassword') && Categories.can_any_reset_password %]
 <div id="resetpassword">
 <a href="/cgi-bin/koha/opac-password-recovery.pl">Quên mật khẩu?</a>
 </div>
 [% ELSE %]
 <p>Bạn phải liên hệ với thư viện để đặt lại mật khẩu</p>
 [% END %]
 [% END # / IF opacuserlogin %]
 </div>
 <!-- /.opac-auth -->
 </div>
 <!-- /.col-md-10 col-lg-6 -->
 </div>
 <!-- /.row -->
 </div>
 <!-- /.container-fluid -->
</main>
<!-- /.main -->

[% INCLUDE 'opac-bottom.inc' %]
[% BLOCK jsinclude %]
 [% Asset.js("lib/jquery/plugins/jquery.validate.min.js") | $raw %]
 <script nonce="[% Koha.CSPNonce | $raw %]">
        jQuery.validator.addMethod(
            "password_no_spaces",
            function (value, element) {
                return this.optional(element) || (!value.match(/^\s/) && !value.match(/\s$/));
            },
            _("Mật khẩu chứa khoảng trắng ở đầu và/hoặc cuối")
        );
        jQuery.validator.addMethod(
            "password_match",
            function (value, element) {
                var new_password_node = $("input[name='newpassword']:first");
                return value == $(new_password_node).val();
            },
            _("Vui lòng nhập lại mật khẩu giống với mật khẩu đã nhập ở trên")
        );

        $(document).ready(function () {
            $("#mainform").validate({
                rules: {
                    currentpassword: {
                        required: true,
                    },
                    newpassword: {
                        required: true,
                        password_no_spaces: true,
                    },
                    confirmpassword: {
                        required: true,
                        password_match: true,
                    },
                },
            });
        });
    </script>
[% END %]
