[% USE raw %]
[% USE Koha %]
[% USE AdditionalContents %]
[% PROCESS 'i18n.inc' %]
[% PROCESS 'html_helpers.inc' %]
[% SET OpacNav = AdditionalContents.get( location => "OpacNav", lang => lang, library => logged_in_user.branchcode || default_branch, blocktitle => 0 ) %]
[% SET OpacNavBottom = AdditionalContents.get( location => "OpacNavBottom", lang => lang, library => logged_in_user.branchcode || default_branch, blocktitle => 0 ) %]
[% INCLUDE 'doc-head-open.inc' %]
<title
    >[% FILTER collapse %]
 [% t("Please confirm your registration") | html %]
 &rsaquo; [% PROCESS 'library_name_title' %]
 [% END %]</title
>
[% INCLUDE 'doc-head-close.inc' %]
[% BLOCK cssinclude %]
[% END %]
</head>
[% INCLUDE 'bodytag.inc' bodyid='opac-confirmation-pending' %]
[% INCLUDE 'masthead.inc' %]

<main class="main">
 [% WRAPPER breadcrumbs %]
 [% WRAPPER breadcrumb_item bc_active= 1 %]
 <span>Xác nhận đăng ký của bạn</span>
 [% END %]
 [% END #/ WRAPPER breadcrumbs %]

 <div class="container-fluid">
 <div class="row">
 [% SET column_class = "col order-first order-md-first order-lg-2" %]
 [% IF ( OpacNav ||  OpacNavBottom ) %]
 [% column_class = "col-10 order-first order-md-first order-lg-2" %]
 <div class="col-lg-2">
 <div id="navigation"> [% INCLUDE 'navigation.inc' %] </div>
 </div>
 [% END %]

 <div class="[% column_class | html %]">
 <div id="registration-confirmation-pending" class="maincontent">
 <h1>Vui lòng xác nhận đăng ký của bạn</h1>
 <div id="confirmation-pending" class="alert alert-info">
 <p>Một email xác nhận sẽ sớm được gửi đến địa chỉ email <strong>[% email | html %]</strong>.</p>

 <p>Tài khoản của bạn sẽ không được kích hoạt cho đến khi bạn nhấp vào liên kết được cung cấp trong email xác nhận.</p>
 </div>
 <!-- /#confirmation-pending -->
 </div>
 <!-- /#registration-confirmation-pending -->
 </div>
 <!-- /.col/10 -->
 </div>
 <!-- /.row -->
 </div>
 <!-- /.container-fluid -->
</main>
<!-- /.main -->

[% INCLUDE 'opac-bottom.inc' %]
[% BLOCK jsinclude %]
[% END %]
