[%# This template is called only for a very simple error message %]
<html>
 <body id="opac-retrieve-file" class="scrollto">
 <h1>Tìm kiếm không thành công</h1>
 Tìm kiếm của bạn [% IF hash %]cho [% hash | html %][% END %] không thành công. </body>
</html>
