[% USE raw %]
[% USE Koha %]
[% USE Categories %]
[% USE AdditionalContents %]
[% PROCESS 'i18n.inc' %]
[% PROCESS 'html_helpers.inc' %]
[% SET OpacNav = AdditionalContents.get( location => "OpacNav", lang => lang, library => logged_in_user.branchcode || default_branch, blocktitle => 0 ) %]
[% SET OpacNavBottom = AdditionalContents.get( location => "OpacNavBottom", lang => lang, library => logged_in_user.branchcode || default_branch, blocktitle => 0 ) %]
[% INCLUDE 'doc-head-open.inc' %]
<title
    >[% FILTER collapse %]
 [% t("Forgotten password recovery") | html %]
 &rsaquo; [% PROCESS 'library_name_title' %]
 [% END %]</title
>
[% INCLUDE 'doc-head-close.inc' %]
[% BLOCK cssinclude %]
[% END %]
[% BLOCK jsinclude %]
 [% IF (new_password) %]
 [% Asset.js("lib/jquery/plugins/jquery.validate.min.js") | $raw %]
 [% PROCESS 'password_check.inc' new_password => 'newPassword', minPasswordLength => minPasswordLength, RequireStrongPassword => RequireStrongPassword %]
 [% END %]
 <script nonce="[% Koha.CSPNonce | $raw %]" data-tt-allowed="true">
        $(function() {
                $("#CheckAll").click(function(){
                        $("[name=deleteRequest]").attr('checked', true);
                        return false;
                    });

                $("#CheckNone").click(function(){
                        $("[name=deleteRequest]").attr('checked', false);
                        return false;
                    });

                $("select#type").change(function() {
                    $("fieldset#serial, fieldset#book, fieldset#chapter").hide()
                    $("fieldset#" + $(this).val() ).show();
                });
                $("#resendmail").click(function() {
                    $("#resendform").submit();
                });
            [% IF (new_password) %]
                $("#mainform").validate({
                    rules: {
                        newPassword: {
                            required: true,
                            password_strong: true,
                            password_no_spaces: true
                        },
                        repeatPassword: {
                            required: true,
                            password_match: true
                        }
                    }
                });
            [% END %]
        });
    </script>
[% END %]
</head>
[% INCLUDE 'bodytag.inc' bodyid='opac-password-recovery' %]
[% INCLUDE 'masthead.inc' %]

<main class="main">
 [% WRAPPER breadcrumbs %]
 [% WRAPPER breadcrumb_item bc_active= 1 %]
 <span>Khôi phục mật khẩu đã quên</span>
 [% END %]
 [% END #/ WRAPPER breadcrumbs %]

 <div class="container-fluid">
 <div class="row">
 <div class="col-lg-2">
 [% IF ( OpacPublic ) %]
 <div id="navigation"> [% INCLUDE 'navigation.inc' IsPatronPage=0 %] </div>
 [% END %]
 </div>
 <div class="col-6 order-first order-md-first order-lg-2 maincontent">
 <h1>Khôi phục mật khẩu đã quên</h1>
 [% IF (hasError) %]
 <div class="alert alert-warning">
 <h2>Lỗi</h2>
 <p>
 [% IF (sendmailError) %]
 <span>Đã xảy ra lỗi trong quá trình gửi liên kết khôi phục mật khẩu cho bạn.</span>
 <br /><span>Vui lòng thử lại sau.</span>
 [% ELSIF (errNoBorrowerFound) %]
 <span>Không tìm thấy tài khoản nào với thông tin đã cung cấp.</span>
 [% ELSIF errResetForbidden %]
 <span id="password-reset-forbidden">Rất tiếc, mật khẩu của bạn không thể thay đổi trực tuyến.</span>
 [% ELSIF (errMultipleAccountsForEmail) %]
 <span>Việc xác định tài khoản chỉ dựa vào địa chỉ email này chưa rõ ràng.</span>
 <br /><span>Vui lòng sử dụng thêm trường 'Tên đăng nhập'.</span>
 [% ELSIF (errNoBorrowerEmail) %]
 <span>Tài khoản này không có địa chỉ email để chúng tôi có thể gửi thư đến.</span>
 [% ELSIF (errAlreadyStartRecovery) %]
 <span>Tiến trình khôi phục mật khẩu đã được bắt đầu cho tài khoản này</span>
 [% IF username %]
 ("<strong>[% username | html %]</strong>")
 [% ELSIF email %]
 ("<strong>[% email | html %]</strong>")
 [% END %]
 <br />Một email chứa liên kết để đặt lại mật khẩu đã được gửi đến bạn. <br />Nếu không nhận được email này, bạn có thể yêu cầu gửi một email mới: <a href="#" id="resendmail">Nhận liên kết khôi phục mật khẩu mới</a>
 <form method="post" id="resendform" action="/cgi-bin/koha/opac-password-recovery.pl">
 [% INCLUDE 'csrf-token.inc' %]
 <input type="hidden" name="op" value="cud-resendEmail" />
 <input type="hidden" name="email" value="[% email | url %]" />
 <input type="hidden" name="username" value="[% username | uri %]" />
 </form>
 [% ELSIF (errPassNotMatch) %] Mật khẩu không trùng khớp. [% ELSIF password_too_short %] <li>Mật khẩu phải có độ dài ít nhất [% minPasswordLength | html %] ký tự.</li>
 [% ELSIF password_too_weak %]
 <li>Mật khẩu phải chứa ít nhất một chữ số, một ký tự thường và một ký tự viết hoa.</li>
 [% ELSIF password_has_whitespaces %]
 <li>Mật khẩu không được chứa khoảng trắng ở đầu hoặc cuối.</li>
 [% ELSIF (errLinkNotValid) %] Liên kết bạn nhấp vào không hợp lệ hoặc đã hết hạn. <br />Đảm bảo bạn đã sử dụng liên kết từ email, hoặc liên hệ với nhân viên thư viện để được hỗ trợ. [% END %] </p>
 <p>Vui lòng liên hệ với thư viện nếu bạn cần hỗ trợ thêm.</p>
 </div>
 <!-- /div.alert.alert-warning -->
 [% END # /IF hasError %]

 <div id="password-recovery">
 [% IF (! Categories.can_any_reset_password ) %]
 <div class="alert alert-info">Bạn không thể đặt lại mật khẩu.</div>
 [% ELSIF (password_recovery) %]
 <form action="/cgi-bin/koha/opac-password-recovery.pl" method="post" autocomplete="off">
 [% INCLUDE 'csrf-token.inc' %]
 <legend class="visually-hidden">Khôi phục mật khẩu</legend>
 <input type="hidden" name="koha_login_context" value="opac" />
 <p>Để đặt lại mật khẩu, vui lòng nhập tên đăng nhập hoặc địa chỉ email của bạn.</p>
 <fieldset class="brief">
 <div class="form-group">
 [% PROCESS login_label for="username" %]
 <input class="form-control" type="text" id="username" size="40" name="username" value="[% username | html %]" />
 </div>

 <div class="form-group">
 <label for="email">Email:</label>
 <input class="form-control" type="text" id="email" size="40" name="email" value="[% email | html %]" />
 </div>

 <fieldset class="action">
 <input type="hidden" name="op" value="cud-sendEmail" />
 <input class="btn btn-primary" name="sendEmail" type="submit" value="Gửi" />
 </fieldset>
 </fieldset>
 </form>
 [% ELSIF (new_password) %]
 [% UNLESS ( errLinkNotValid ) %]
 <form id="mainform" name="mainform" action="/cgi-bin/koha/opac-password-recovery.pl" method="post" autocomplete="off">
 [% INCLUDE 'csrf-token.inc' %]
 <input type="hidden" name="op" value="cud-reset_password" />
 <legend class="visually-hidden">Mật khẩu không hợp lệ</legend>
 <input type="hidden" name="koha_login_context" value="opac" />
 <fieldset class="brief">
 [% IF ( RequireStrongPassword ) %]
 <div class="alert alert-info">Mật khẩu của bạn phải chứa ít nhất [% minPasswordLength | html %] ký tự, bao gồm chữ IN HOA, chữ thường và chữ số.</div>
 [% ELSE %]
 <div class="alert alert-info">Mật khẩu của bạn phải dài ít nhất [% minPasswordLength | html %] ký tự.</div>
 [% END %]
 <div class="form-group">
 <label for="newPassword">Mật khẩu mới:</label>
 <input class="form-control" type="password" id="newPassword" size="40" name="newPassword" autocomplete="off" />
 </div>

 <div class="form-group">
 <label for="repeatPassword">Xác nhận mật khẩu mới:</label>
 <input class="form-control" type="password" id="repeatPassword" size="40" name="repeatPassword" autocomplete="off" />
 </div>

 <fieldset class="action">
 <input type="hidden" name="username" value="[% username | html %]" />
 <input type="hidden" name="uniqueKey" value="[% uniqueKey | html %]" />
 <input class="btn btn-primary" name="passwordReset" type="submit" value="Gửi" />
 </fieldset>
 </fieldset>
 </form>
 [% END # /UNLESS errLinkNotValid %]
 [% ELSIF (mail_sent) %]
 <div class="alert alert-info">
 <p>
 Bạn sẽ nhận được một email sớm thôi. <br />Vui lòng nhấp vào liên kết trong email này để hoàn tất quá trình đặt lại mật khẩu. <br />Liên kết này có hiệu lực trong 2 ngày kể từ bây giờ. </p>
 <a href="/cgi-bin/ftu/opac-main.pl">Quay lại trang chính</a>
 </div>
 [% ELSIF (password_reset_done) %]
 <div class="alert alert-success">
 <p>Mật khẩu đã được thay đổi cho người dùng "[% username | html %]".</p>
 <a href="/cgi-bin/koha/opac-user.pl">Đăng nhập vào tài khoản của bạn.</a>
 </div>
 [% END # /IF (! Categories.can_any_reset_password ) %] </div
                ><!-- / #password-recovery --> </div
            ><!-- / .span10 --> </div
        ><!-- / .row-fluid --> </div
    ><!-- / .container-fluid --> </main
><!-- / .main -->
[% INCLUDE 'opac-bottom.inc' %]
